<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>File Statistics</title>
  <link rel="stylesheet" type="text/css"
        href="/css/style.css"/>
  <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/statistics.js"></script>
</head>
<body>
<form id="load-file-form">
  <input type="file" name="file" id="file-input"/>
  <br/>
  <br/>
  <input type="submit" value="Submit" id="load-btn"/>
</form>
<p>
<span id="result"></span>
</p>
<table id="stat-table">
  <thead>
  <tr>
    <th>File name</th>
    <th>Lines count</th>
    <th>Average count rows in line</th>
    <th>min word`s length</th>
    <th>max word`s length</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
</body>
</html>